.TM_About_Center_Title{
    margin-bottom: 56px;
    font-weight: 500;
    color: #444444;
    letter-spacing: .1em;
}
.TM_About_Center_Text{
    padding: 1.5em;
    border-bottom: 1px solid rgba(0,0,0,.125);
    margin-bottom:56px;
    font-weight: 300;
    color: #717070;
    letter-spacing: .07em;
}
.TM_About_Center_Btn{
    background-color: #fff;
    border-color: #717070;
}