.TM_About_Testimonals {
    padding: 1.5em;
    border-bottom: 1px solid rgba(0,0,0,.125);
    margin-bottom:56px;
    font-weight: 300;
}
.TM_About_Testimonals_Title{
    margin-bottom: 36px;
    font-weight: 500;
    color: #444444;
    letter-spacing: .1em;
}
.TM_About_Testimonals_Comment{
    border: 1px solid #d6d6d6;
    background-color: #fafafa;
    color: #777;
}
.TM_About_Testimonals_Comment::after{
    content: "";
    position: absolute;
    bottom: -8px;
    left: 25px;
    width: 15px;
    height: 15px;
    background: #fafafa;
    transform: rotate(
-45deg);
    border: 1px solid #d6d6d6;
    border-top: none;
    border-right: none;
}
.TM_About_Testimonals_Client{
    margin-top: 13px;
}
.TM_About_Testimonals_ClientImage{
    margin-left: 2px;
    width: 65px;
    height: 65px;
}